// THEME
$primary0: #000000;
$primary1: #363532;
$primary2: #696969;
$primary3: #7D6A3B;
$primary4: #A89C7C; // MAIN
$primary5: #f2f1ed;
$primary6: #f2f1edff;
$primary7: #FFFFFF;

$secondary0: #606C38;
$secondary1: #283618;
$secondary2: #FEFAE0;
$secondary3: #A86A24;
$secondary4: #663A14;
$secondary5: #2462A8;

$p0: #d6ae7b;
$p1: #eacda3;
$p2: #E2D1C3;
$p3: #FDFCFB;

// SELECTED BY ANUPLIFESTYLES

$light-beige: #F5EFE7;
$dark-beige: #D8C4B6;
$light-blue: #4F709C;
$dark-blue: #213555;

$a0: #539165;
$a1: #3F497F;
$a2: #F7C04A;
$a3: #F8F5E4;

$b0: #03045E;
$b1: #0077B6;
$b2: #00B4D8;
$b3: #FFBF69;
$b4: #C3DBE6;

$b0: #06354e;
$b1: #94a8c1;
$b2: #754043;
$b3: #9a8873;
$b4: #37423d;

$white: #ffffff;
$black: #000000;
$dark-gray: #212529;
$noColor: #00000000;

$b0: #113A8C;
$b1: #18568C;
$b2: #1F6D8C;
$b3: #278C67;
$b4: #2EA64C;

// PACKAGES
$silver: #9d9d9d;
$gold: #d8aa40;
$platinum: #7c948d;