<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h3 class="h3"><span class="span">R</span>esidential <span class="span">P</span>rojects</h3>
        </div>
    </div>

    <div class="row r2">
        <div class="col-xl-4 r2c1">
            <app-carousel-deore></app-carousel-deore>
        </div>
        <div class="col-xl-4 r2c1">
            <app-carousel-bhodle></app-carousel-bhodle>
        </div>
        <div class="col-xl-4 r2c1">
            <app-carousel-ashok-chandgude></app-carousel-ashok-chandgude>
        </div>
        <div class="col-xl-4 r2c1">
            <app-carousel-ashok-salke></app-carousel-ashok-salke>
        </div>
        <div class="col-xl-4 r2c1">
            <app-carousel-mandar-sawant></app-carousel-mandar-sawant>
        </div>
    </div>

    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h3 class="h3"><span class="span">C</span>ommercial <span class="span">P</span>rojects</h3>
        </div>
    </div>

    <div class="row r2">
        <div class="col-xl-4 r2c1">
            <app-carousel-backyard-palms></app-carousel-backyard-palms>
        </div>
        <div class="col-xl-4 r2c1">
            <app-carousel-kimaya-groups></app-carousel-kimaya-groups>
        </div>
    </div>
</div>