<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-5 r1c1" [@fadeInUp]>
            <h1 class="h1 fadeInUp">2 BHK INTERIOR DESIGN</h1>
            <p class="p fadeInUp">We at AnupLifestyle try our best to fulfil your dream home requirements. Our
                excellent team of architects and designers will guide you through the entire
                process, thus making it an easy one. We provide the most favourable 2BHK interior
                design solutions for your dream home.</p>
            <p class="p fadeInUp">The following packages are specially customised keeping functional and aesthetical
                needs in mind.</p>
        </div>
        <div class="col-lg-5 r1c2">
            <!-- <app-talk-to-a-designer-form></app-talk-to-a-designer-form> -->
        </div>
    </div>

    <div class="row r2">
        <app-packages [packages]="packagesData"></app-packages>
    </div>
</div>