@import "../../styles/theme.scss";
@import "../../styles/mixins/display";

@media screen and (min-width: 0px) {
    .home {
        padding: 1rem;
        background-color: $white;

        .r1 {
            @include center-center;
            align-content: center;
            min-height: 100vh;
            height: 100%;

            .h1 {
                text-align: center;
                color: $black;
                font-size: 2rem;
                padding: 4rem 1rem 1rem 1rem;
            }

            .r1c1 {
                    padding: 2rem;
                    .our-process-wrapper {

                    .icons-group {
                        @include center-center;
                        padding: 1rem;

                        .icon {
                            width: 100%;
                            max-width: 384px;
                            color: $white;
                        }
                    }

                    .title,
                    .content {
                        @include center-center;
                        text-align: center;
                        min-height: 6rem;
                        height: 100%;

                        .h4 {
                            color: $black;
                        }

                        .h6 {
                            height: 6rem;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 992px) {
    .r1 {
        .r1c1 {
            .our-process-wrapper {
                .content {
                    .h6 {
                        width: 425px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .home {
        .r1 {
            .h1 {
                font-size: 3rem;
                padding-bottom: 0;
            }

            .r1c1 {
                display: flex;
                justify-content: center;
                align-items: center;

                .whyus-wrapper {
                    padding: 1rem;

                    .h4,
                    .h6 {
                        color: $white;
                    }

                    .icons-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;

                        .icon {
                            width: 4rem;
                            color: $white;
                        }
                    }

                    .title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;

                        .h4 {
                            text-align: center;
                        }
                    }

                    .content {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}