<ngb-carousel class="ngb-carousel" #carouselKimayaGroups>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img" src="../../../../../assets/content/photo-gallery/commercial/kimaya-group/landscape/Lasdscape 01.jpg" alt="First slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="commercial/kimaya-groups" (click)="onClick()" mat-button>
                <h3 class="h3">Our Own Kimaya House</h3>
            </button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img" src="../../../../../assets/content/photo-gallery/commercial/kimaya-group/landscape/Lasdscape 02.jpg" alt="Second slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="commercial/kimaya-groups" (click)="onClick()" mat-button>
                <h3 class="h3">Our Own Kimaya House</h3>
            </button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img" src="../../../../../assets/content/photo-gallery/commercial/kimaya-group/landscape/Lasdscape 03.jpg" alt="Third slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="commercial/kimaya-groups" (click)="onClick()" mat-button>
                <h3 class="h3">Our Own Kimaya House</h3>
            </button>
        </div>
    </ng-template>
</ngb-carousel>