<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-5 r1c1" [@fadeInUp]>
            <h1 class="h1 fadeInUp">CORPORATE INTERIOR DESIGN</h1>
            <div class="text-wrap">
                <p class="p fadeInUp">AnupLifestyle is well established in corporate interior as well, inclusive of
                    office interiors, hospital interiors, gym interiors and restaurant interiors.
                    We strive hard to stay updated with the current trends in interior design,
                    thus making your corporate place pleasant and lively.</p>
                <!-- <p class="p fadeInUp">The following packages are specially customised keeping functional and aesthetical
                needs in mind.</p> -->
            </div>
            <div class="button-wrap">
                <button class="mat-raised-button" (click)="onClick()" mat-raised-button>
                    <span class="span">Get Quote</span>
                </button>
            </div>
        </div>
        <div class="col-lg-5 r1c2">
        </div>
    </div>
</div>