<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h1 class="h1">Client Testimonials</h1>
        </div>
    </div>
    <div class="row r2">
        <div class="col-lg-8 r2c1">
            <div class="row r2c1r1">
                <div class="col-lg-12 r2c1r1c1">
                    <video class="video one" controls controlsList="nodownload">
                        <source class="source" src="../../../assets/content/client-testimonials/1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-lg-12 r2c1r1c1">
                    <video class="video one" controls controlsList="nodownload">
                        <source class="source" src="../../../assets/content/client-testimonials/3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- <div class="col-lg-12 r2c1r1c1">
                    <video class="video one" controls controlsList="nodownload">
                        <source class="source" src="../../../assets/content/client-testimonials/5.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 r2c2">
            <div class="row r2c2r1">
                <div class="col-lg-12 r2c2r1c1">
                    <video class="video two" controls controlsList="nodownload">
                        <source class="source" src="../../../assets/content/client-testimonials/2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-lg-12 r2c2r1c1">
                    <video class="video two" controls controlsList="nodownload">
                        <source class="source" src="../../../assets/content/client-testimonials/4.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>