@import '../../styles/theme.scss';
@import '../../styles/keyframes.scss';
@import '../../styles/mixins/display';
@import '../../styles/mixins/size';

@media screen and (min-width: 0px) {
    .home {
        @include center-center-col;
        padding: 3.5rem 0;

        .r1 {
            .r1c1 {
                @include center-center;
                padding: 1rem;

                .h1 {
                    font-family: 'Dosis', sans-serif;
                    padding: 4rem 1rem;
                }
            }
        }

        .r2 {
            .r2c1 {
                .r2c1r1 {
                    .r2c1r1c1 {
                        @include center-center;

                        .video {
                            @include height-width-100-percent;
                            margin-top: 2rem;
                        }

                        .one {
                            height: max-content;
                        }
                    }
                }
            }

            .r2c2 {
                .r2c2r1 {
                    .r2c2r1c1 {
                        @include center-center;

                        .video {
                            @include height-width-100-percent;
                            margin-top: 2rem;
                        }

                        .one {
                            height: max-content;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .home {
        @include center-center-col;

        .r2 {
            width: 66.66%;
        }
    }
}