<ngb-carousel class="ngb-carousel" #carouselAshokChandgude>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img"
                src="../../../../../assets/content/photo-gallery/residential/ashok-chandgude/landscape/Landscape 1.jpg"
                alt="First slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="reisdential/1" (click)="onClick()" mat-button>
                <h3 class="h3">4 BHK</h3>
            </button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img"
                src="../../../../../assets/content/photo-gallery/residential/ashok-chandgude/landscape/Landscape 2.jpg"
                alt="Second slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="reisdential/1" (click)="onClick()" mat-button>
                <h3 class="h3">4 BHK</h3>
            </button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="img-wrapper">
            <img class="img"
                src="../../../../../assets/content/photo-gallery/residential/ashok-chandgude/landscape/Landscape 3.jpg"
                alt="Third slide" />
        </div>
        <div class="carousel-caption">
            <button class="mat-button" routerLink="reisdential/1" (click)="onClick()" mat-button>
                <h3 class="h3">4 BHK</h3>
            </button>
        </div>
    </ng-template>
</ngb-carousel>