<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h1 class="h1">WARRANTY TERMS</h1>
        </div>
        <div class="col-lg-12 r1c2">
            <h1 class="h1">FOR AnupLifestyle's MODULAR KITCHENS</h1>
            <p class="p">Modular Kitchens purchased through AnupLifestyle are covered
                under our quality policy for a limited 10-year time period against any
                defects in material and workmanship from the date of possession.
                The defective part will be repaired or replaced free of cost with
                respect to the table of claim terms mentioned below if the product
                has been found to be defective upon inspection by us.</p>
            <table class="table">
                <tr class="tr">
                    <th class="th">PRODUCT</th>
                    <th class="th">CLAME DURATION</th>
                    <th class="th">TERMS</th>
                </tr>
                <tr class="tr">
                    <td class="td">Cabinets</td>
                    <td class="td">For 18 months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement</li>
                            <li class="li">70% by the company & 30% of the cost
                                will be borne by customer</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Waste-bins, cutlery trays, Wire
                        accessories & mats.</td>
                    <td class="td">For 18 months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement
                                - free of cost</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Shutters</td>
                    <td class="td">For 5 to 7 years</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">50% of the cost will be borne by
                                company & 50% by the customer.</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Drawer and Panels</td>
                    <td class="td">7-10 years</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">30% by the company & 70% of the cost will be borne by customer</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Handles and knobs</td>
                    <td class="td"></td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement - free of cost</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Hettich hardware, Onyx, Blum, Hafele & Godrej.</td>
                    <td class="td"></td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">Manufacturer warranty</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Lighting accessories</td>
                    <td class="td"></td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">No warranty claim once sold</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12 r1c3">
            <h6 class="h6">Note:- Any other material included in the kitchen not listed above is subject to being
                warranted by its respective manufacturer, if applicable.</h6>
        </div>
    </div>

    <div class="row r2">
        <div class="col-lg-12 r2c1">
            <h1 class="h1">FOR AnupLifestyle's MODULAR WARDROBES & STORAGES</h1>
            <p class="p">Modular Wardrobes & Storages purchased through AnupLifestyle
                are covered under our quality policy for a limited 5-year period
                against any defects in materials and workmanship from the date of
                possession. The defective part will be repaired or replaced free of
                cost, with respect to the table of claim terms mentioned below if
                the product has been found to be defective upon inspection by us.</p>
        </div>
        <div class="col-lg-12 r2c2">
            <table class="table">
                <tr class="tr">
                    <th class="th">PRODUCT</th>
                    <th class="th">CLAME DURATION</th>
                    <th class="th">TERMS</th>
                </tr>
                <tr class="tr">
                    <td class="td">Cabinets, shutters</td>
                    <td class="td">18months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement - free of cost</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Drawer and Panels</td>
                    <td class="td">18months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">50% of the cost will be borne by customer & 50% by the company</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Handles and knobs</td>
                    <td class="td">18months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement - free of cost</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Accessories</td>
                    <td class="td">18months</td>
                    <td class="td">
                        <ul class="ul">
                            <li class="li">100% replacement - free of cost</li>
                        </ul>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td">Hettich hardware, Onyx, Blum, Hafele & Godrej.</td>
                    <td class="td"></td>
                    <td class="td">Manufacturer warranty</td>
                </tr>
                <tr class="tr">
                    <td class="td">Lighting accessories</td>
                    <td class="td"></td>
                    <td class="td">No warranty claim once sold</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row r3">
        <div class="col-lg-12 r3c1">
            <h1 class="h1">FOR AnupLifestyle's SEMI-MODULAR KITCHENS </h1>
            <p class="p">Semi-Modular Kitchens are the kitchen where kitchen platform
                already exists at the site and is not in scope of work. Semi-Modular
                Kitchen purchased through AnupLifestyle is covered under our quality
                policy for a limited 18month time period against any defects in
                materials and workmanship from the date of possession. The
                defective part will be repaired or replaced free of cost with respect to
                the table of claim terms mentioned below if the product has been
                found to be defective upon inspection by us.</p>
        </div>
        <div class="col-lg-12 r3c2">
            <h1 class="h1">TERMS & CONDITIONS </h1>
            <ol class="ol">
                <li class="li" *ngFor="let data of semiModularKitchenTc">{{data}}</li>
            </ol>
        </div>
    </div>

    <div class="row r4">
        <div class="col-lg-12 r4c1">
            <h1 class="h1">SOLID WOOD FURNITURE</h1>
            <p class="p">Solid Wood Furniture purchased through AnupLifestyle comes with a
                1-year quality promise against any manufacturing defects from the
                date of the delivery.</p>
        </div>
        <div class="col-lg-12 r4c2">
            <h1 class="h1">TERMS & CONDITIONS</h1>
            <ol class="ol">
                <li class="li" *ngFor="let data of solidWoodFurnitureTc">{{data}}</li>
            </ol>
        </div>
    </div>

    <div class="row r5">
        <div class="col-lg-12 r5c1">
            <h1 class="h1">ON-SITE FURNITURE PRODUCTS</h1>
            <p class="p">All other furniture products purchased through AnupLifestyle come
                with 1-year quality promise, against any manufacturing defects from
                the date of delivery.</p>
        </div>
        <div class="col-lg-12 r5c2">
            <h1 class="h1">TERMS & CONDITIONS</h1>
            <ol class="ol">
                <li class="li" *ngFor="let data of onSiteFurnitureProductsTc">{{data}}</li>
            </ol>
            <h6 class="h6">Notify AnupLifestyle within TEN days of any defect first coming into
                notice, via phone or email.</h6>
        </div>
    </div>

    <div class="row r6">
        <div class="col-lg-12 r6c1">
            <h1 class="h1">INTERIOR WORKS</h1>
            <p class="p">The warranty policy for painting, False Ceiling and Electrical is of 1
                year as per Terms & Conditions stated below :-</p>
        </div>
        <div class="col-lg-12 r6c2">
            <h1 class="h1">PAINTING</h1>
            <p class="p">The warranty does not cover defects arising out of factors out of
                control of the Company, including and not limited to:-</p>
            <ol class="ol">
                <li class="li" *ngFor="let data of interiorWorksPaintingTc">{{data}}</li>
            </ol>
        </div>
        <div class="col-lg-12 r6c3">
            <h1 class="h1">CEILING FALSE</h1>
            <p class="p">The warranty does not cover defects arising out of the factors that
                out of control of the Company, including and not limited to:-</p>
            <ol class="ol">
                <li class="li" *ngFor="let data of interiorWorksCealingFalseTc">{{data}}</li>
            </ol>
        </div>
        <div class="col-lg-12 r6c4">
            <h1 class="h1">ELECTRICAL</h1>
            <p class="p">The warranty does not cover defects arising out of the factors that are
                out of control of the Company, including and not limited to:-
            </p>
            <ol class="ol">
                <li class="li" *ngFor="let data of interiorWorksElectricalTc">{{data}}</li>
            </ol>
        </div>
    </div>
</div>