<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h1 class="h1">Cancellations</h1>
        </div>
        <div class="col-lg-12 r1c2">
            <p class="p">AnupLifestyle understand and offer you a refund under the BH
                cancellation policy.</p>
        </div>
    </div>
    <div class="row r2">
        <div class="col-lg-12 r2c1">
            <h1 class="h1">Cancelling your project</h1>
        </div>
        <div class="col-lg-12 r2c2">
            <ul class="ul">
                <li class="li" *ngFor="let data of cancellingProject">{{data}}</li>
            </ul>
        </div>
    </div>
    <div class="row r3">
        <div class="col-lg-12 r3c1">
            <h1 class="h1">Cancelling / replacing product(s) in your order</h1>
            <p class="p">Any product in the tentative Bill of Quantity can be replaced or
                removed while you're still discussing designs with your design team
                i.e. till the project order (50%) is not created. ANUPLIFESTYLE cannot
                offer to cancel, replace or modify items once the final order is placed
                i.e. a sales order is created Because each item is made to order.
                However, please be assured that your design team will always
                explicitly discuss all items with you before placing orders.</p>
        </div>
        <div class="col-lg-12 r3c2">
            <h1 class="h1">Why is only half of your booking amount is refunded?</h1>
            <p class="p">ANUPLIFESTYLE takes pride in its exemplary design service. As each
                client gets access to a personal design and project team who carefully
                work on designs and concepts for their home, putting in a lot of time
                and hard work, we are unable to offer a full refund after booking.</p>
        </div>
    </div>
</div>