<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h1 class="h1">Payment terms</h1>
        </div>
        <div class="col-lg-12 r1c2">
            <p class="p">You can book your decor project by paying a booking fee which is 10% of the
                estimated order value. The booking fee is adjusted against future orders of the
                project.</p>
            <p class="p">Here, A project refers to home design undertaking for a single home. Clint can
                place Multiple orders for a single project (for eg., one order for modular
                products, a separate one for services such as civil work). Payments are
                processed on an order level.</p>
            <h1 class="h1">Execution milestones for an order</h1>
            <p class="p">Mentioned below are the types of orders and pre-defined execution stages for
                a clear picture of your payment schedule. At the execution stages, 40 - 50% of
                the work in terms of the order value, is completed. Once the order reaches this
                stage, the balance 50% payment is due. Payment terms for an order In case
                your booking fee is already adjusted against an order(s), the following payment
                terms will apply for all subsequent orders. Need to be placed at 50% payment.</p>
        </div>
        <div class="col-lg-12 r1c3">
            <table class="table">
                <tr class="tr">
                    <th class="th">Order Type</th>
                    <th class="th">Overview of work involved </th>
                    <th class="th">Execution Milestone(Pay Balance 50%) </th>
                    <th class="th">Handover</th>
                </tr>
                <tr class="tr">
                    <td class="td">Order Type 1</td>
                    <td class="td">Civil & Mechanical, Engineering & Plumbing</td>
                    <td class="td">MEP base work & POP (Plaster of Paris completion)</td>
                    <td class="td">MEP fixtures & fittings, final painting & handover</td>
                </tr>
                <tr class="tr">
                    <td class="td">Order Type 1</td>
                    <td class="td">Genie Furniture (Workshop)</td>
                    <td class="td">Carcass quality check completion</td>
                    <td class="td">Installation & handover</td>
                </tr>
                <tr class="tr">
                    <td class="td">Order Type 1</td>
                    <td class="td">Genie Furniture (On-site)</td>
                    <td class="td">Wood framework completion</td>
                    <td class="td">Installation & handover</td>
                </tr>
                <tr class="tr">
                    <td class="td">Order Type 2</td>
                    <td class="td">Catalogue products</td>
                    <td class="td">NA</td>
                    <td class="td">Pay balance 50% for delivery & Installation</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12 r1c4">
            <h1 class="h1">Terms & Conditions</h1>
            <ul class="ul">
                <li class="li" *ngFor="let data of tc">{{data}}</li>
            </ul>
        </div>
    </div>
</div>